@model bon_temps.Models.GerechtIngredient

<h3>Weet je het zeker dat je dit wilt verwijderen?</h3>
<div>
    <h4>GerechtIngredient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gerecht)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gerecht.Naam)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.Eenheid)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aantal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aantal)
        </dd>
    </dl>
    
    <form asp-action="DeleteIngredient">
        <input type="hidden" asp-for="GerechtId" />
        <input type="hidden" asp-for="IngredientId" />
        <input type="submit" value="Verwijderen" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.Gerecht.Id">Terug</a>
    </form>
</div>
