@model IEnumerable<bon_temps.Models.GerechtIngredient>

<h4>Ingredienten</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient.Eenheid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aantal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient.Eenheid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>
            <td>
                <a asp-action="EditIngredient" asp-route-id="@item.GerechtId" asp-route-ingredientId="@item.IngredientId">Wijzigen</a> |
                <a asp-action="DeleteIngredient" asp-route-id="@item.GerechtId" asp-route-ingredientId="@item.IngredientId">Verwijderen</a>
            </td>
        </tr>
        }
    </tbody>
</table>
